@import "utils/variables";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

.flexRow {
  display: flex;
  justify-content: space-between;
}

.loader {
  margin: 0 0 2em;
  height: 100px;
  width: 20%;
  text-align: center;
  padding: 1em;
  margin: 0 auto 1em;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%) translateY(-50%);
}
.svg .path,
.svg rect {
  fill: black;
}

.main {
  font-family: "Inter", sans-serif;
  color: $clr-highEmpha;
  min-height: 100vh;
  background: $clr-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  .logo {
    max-width: 150px;
    width: 100%;
  }
  .optionsContainer {
    text-align: center;
    margin-top: 1em;
    font-size: 0.85em;
    .signup {
      color: $clr-medEmpha;
      margin-bottom: 0.75em;
      .link {
        cursor: pointer;
        color: $clr-primary;
      }
    }
    .forgotPassText {
      margin: 0;
      color: $clr-primary;
      cursor: pointer;
    }
  }
  .circle {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background: $clr-bg2;
    .icon {
      color: $clr-primary;
      font-size: 1.4em;
    }
  }
  .card {
    background: $clr-bg1;
    padding: 2em 5em 2em 5em;
    border-radius: 0.5em;
    width: 90%;
    max-width: 30em;
    position: relative;
    margin-top: 1.75em;
    .return {
      position: absolute;
      top: 15px;
      right: 15px;
      .times {
        font-size: 1.25em;
        color: $clr-secondary;
      }
    }
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .logo {
        margin-bottom: 1em;
      }
      .title {
        font-size: 1.5em;
        align-self: flex-start;
        margin: 0em 0em 0.5em 0em;
        font-weight: 500;
      }
      .subText {
        color: $clr-medEmpha;
        line-height: 25px;
        margin: 0em 0em 1em 0em;
        align-self: flex-start;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      .success {
        color: $clr-secondary;
        margin: 0;
        font-size: 0.85em;
      }
      .inputContainer {
        background: $clr-bg;
        border: 1px solid rgba($clr-primaryRGB, 0.25);
        display: flex;
        align-items: center;
        padding-left: 1em;
        margin-bottom: 1em;
        &:hover {
          border: 1px solid rgba($clr-primaryRGB, 0.5);
        }
        .icon {
          margin-right: 1em;
        }
        .emailUserInput,
        .passwordInput,
        .input {
          color: $clr-highEmpha;
          background: transparent;
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
          padding: 1em 0em;
          font-family: "Inter", sans-serif;
          &::placeholder {
            color: $clr-medEmpha;
          }
        }
      }
      .specialContainer {
        border: 1px solid rgba($clr-secondaryRGB, 0.25);
        &:hover {
          border: 1px solid rgba($clr-secondaryRGB, 0.5);
        }
      }
      .emailUserInput::placeholder,
      .passwordInput::placeholder {
        color: $clr-medEmpha;
      }
      .errorContainer {
        background: $clr-error;
        color: black;
        text-align: center;
        border-radius: 0.5em;
        font-size: 0.85em;
        margin-top: 1em;
      }
      .submitBtnContainer {
        position: relative;
        .submitBtn {
          color: black;
          background: $clr-primary;
          outline: none;
          border: none;
          border-radius: 0.5em;
          margin-bottom: 1em;
          padding: 0.75em 1em;
          margin-top: 2em;
          font-size: 1em;
          cursor: pointer;
          width: 100%;
          font-family: "Inter", sans-serif;
        }
      }
    }
  }
  .circle1 {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: -100px;
    background: $clr-primary;
  }
  .circle2 {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    position: absolute;
    bottom: 50px;
    left: 200px;
    background: $clr-primary;
  }
  .circle3 {
    border-radius: 50%;
    height: 125px;
    width: 125px;
    position: absolute;
    bottom: 200px;
    right: 100px;
    background: $clr-primary;
  }
}
@media (max-width: 430px) {
  .main {
    .card {
      padding: 5em 2em 5em 2em;
    }
  }
}
@media (max-width: 500px) {
  .main {
    .circle1 {
      display: none;
    }
  }
}
@media (max-width: 1000px) {
  .main {
    .circle2 {
      display: none;
    }
    .circle3 {
      display: none;
    }
  }
}
